@import './mixins.scss';

html, body, #game {
    @include flex-column();
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    user-select: none;
}
